[user]
  name = Naoki Kanatani
  email = k12naoki@gmail.com
[color]
  ui = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  st    = status
  ci    = commit
  co    = checkout
  d     = diff
  b     = branch
  graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
  one   = log --oneline -n 10
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[push]
  default = current
[ghq]
  root = ~/dev/src
[github]
  user = kanata2
[include]
  path = .gitconfig.local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
