[user]
	name = naoki-k
	email = amnrnmng7cy@gmail.com
[core]
	excludesfile = /Users/kanataninaoki/.gitignore_global
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[push]
	default = current
[include]
[include]
[include]
[include]
[include]
[include]
	path = .gitconfig.local
